body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightcoral;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  display: flex;
justify-content: center;
}
.grid{
  
  display: grid;
  grid-template-columns: 360px 360px 360px 360px;
  gap: 20px;
}
#element{
  
  align-content: center;
  text-align: center;
  
}
img{
  width:350px;
  
}
.name{
  height: 253px;
  position: absolute;
  width: 360px;
  
  display: flex;
  flex-direction: column-reverse;
}
.name:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}


